site_name: toshi-hazard-store
site_url: https://GNS-Science.github.io/toshi-hazard-store
repo_url: https://github.com/GNS-Science/toshi-hazard-store
repo_name: GNS-Science/toshi-hazard-store
#strict: true
watch:
  - toshi_hazard_store
  - docs
nav:
  - Home:
      - README: index.md
      - Installation: installation.md
      - Configuration: configuration.md
  - Usage:
      - Usage: usage.md
  - Data Models:
      - Hazard Dataset overview: cli/hazard_dataset_overview.md
      - Hazard Metadata: domain_model/hazard_metadata.md
      - Hazard Curves: domain_model/openquake_models.md
      - Gridded Hazard: domain_model/gridded_hazard_models.md
      - Disaggregation (WIP): domain_model/disaggregation_models.md      
  - CLI tools: 
      - cli/index.md
      - Aggregation CLI workflow: cli/aggregation_cli_workflow.md
      - ths_compat: cli/ths_compat.md
      - ths_ds_check: cli/ths_ds_check.md
      - ths_ds_defrag: cli/ths_ds_defrag.md
      - ths_ds_filter: cli/ths_ds_filter.md
      - ths_grid_build: cli/ths_grid_build.md
      - ths_grid_sanity: cli/ths_grid_sanity.md
      - ths_rlz_import: cli/ths_rlz_import.md
      - ths_rlz_sanity: cli/ths_rlz_sanity.md
  - API:
      - query API: api/query/index.md
  - Datasets:
    - Legacy Migrations:
      - Hazard dataset May-2024: migration/hazard_import_processing-may-2024.md
      - Arrow sanity tests: migration/arrow_sanity_testing.md
      - Rev4 migration testing: migration/revision_4_migration_testing.md
      - Rev4 disagg testing: migration/revision_4_disagg_testing.md
      - Dataset build Jun-2024: migration/2024-06-27_dataset_build.md
      - Grid migration: migration/datasets/gridded_hazard/grid_migration.md
      - Hawkes Bay validation: migration/datasets/hawkes_bay/aggs_exist.md
      - Hawkes Bay raw aggs: migration/datasets/hawkes_bay/aggs_raw_exist.md
      - Instance timings: migration/datasets/timings.md
    - Performance:
      - Iceberg spike: datasets/performance/iceberg_spike.md
      - PyArrow 15 to 19: datasets/performance/pyarrow_15_to_19.md      
  - Contributing: contributing.md
  - Changelog: changelog.md

theme:
  name: material
  language: en
  #logo: assets/logo.png
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.indexes
    - navigation.instant
    - navigation.tabs
  #   - navigation.tabs.sticky

markdown_extensions:
  - mkdocs-click
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.tabbed
  - attr_list
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      linenums: false
  - pymdownx.inlinehilite
  - pymdownx.details
  - admonition
  - toc:
      baselevel: 1
      permalink: true
  - meta
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

plugins:
  - include-markdown
  - search:
      lang: en
  - mkdocstrings:
      handlers:
        python:
          options:
            show_submodules: false
            show_root_toc_entry: false
            heading_level: 3

extra:
  social:
    # - icon: fontawesome/brands/twitter
    #   # replace with your own tweet link below
    #   link: https://github.com/waynerv/cookiecutter-pypackage
    #   name: Tweet
    # - icon: fontawesome/brands/facebook
    #   # replace with your own facebook link below
    #   link: https://github.com/waynerv/cookiecutter-pypackage
    #   name: Facebook
    - icon: fontawesome/brands/github
      link: https://github.com/GNS-Science/toshi-hazard-store
      name: Github
    - icon: material/email
      link: "mailto:nshm@gns.cri.nz"
  # to enable disqus, uncomment the following and put your disqus id below
  # disqus: disqus_id
# uncomment the following and put your google tracking id below to enable GA
#google_analytics:
  #- UA-xxx
  #- auto
